<po-page-login
    [p-environment]="ambiente"
    p-product-name="ER7System - Chamados Técnicos."
    (p-login-submit)="login($event)"
    [p-background]="backgroundImageAtual"
    [p-literals]="{highlightInfo: 'Bem vindo a ER7System! <br>  A sua nova plataforma para gerenciamento de chamados técnicos.'}"
></po-page-login>

<!-- https://img.freepik.com/fotos-gratis/pessoa-de-vista-frontal-reparando-uma-placa-mae_23-2148419153.jpg?w=900&t=st=1694571249~exp=1694571849~hmac=b7186672d20ed3d030769fa52ad1e58c2f78436eeadb67e0e4acfe1779f3cdee -->
<!-- https://img.freepik.com/fotos-premium/servico-de-reparo-de-eletronicos-espaco-de-texto_87646-4953.jpg?w=826 


element {
  background-color: #0077e6b2;
  max-width: none;
  padding: 20rem 3rem;
  text-justify: bold !important;
}
.po-page-login-highlight-text .po-font-display {
  font-family: var(--font-family-extra-light),sans-serif;
  font-size: 50px;
  line-height: 64px;
  color: var(--color-page-login-highlight-text-color);
  display: table-cell;
  max-width: 472px;
  padding-left: 36px;
  vertical-align: middle;
  word-wrap: break-word;
}



-->
