<po-page-default p-title="Dashboard de Chamados" [p-actions]="acoes">

    <po-container class="po-lg-12 po-p-0" id="dash">

        <po-widget class="po-lg-3 po-mb-1 po-pl-0">
            <po-container [p-no-border]="true">
                <span class="po-icon po-icon-lock-off kpi-principal kpi-icon abertos po-lg-5" id="abertos"></span>
                <div class="po-text-right po-font-text-large-bold" style="color: #868686;">Chamados Abertos</div>
                <div class="po-font-title po-text-right kpi-principal kpi-quant" style="font-family: roboto;">{{  this.abertos }}</div>
                <div class="po-text-right po-lg-12" style="color: #035AA6;">
                    <span class="po-text-right po-font-text-bold percent" [ngClass]="this.abertosPercent > 1 ? 'percent-positivo' : 'percent-negativo'"> {{ this.abertosPercent | number : '1.1-2' }} % </span>
                    <span class="po-text-right"> Vs <b style="font-weight: bold;">{{ this.tipoFiltro }}</b> anterior</span>
                </div>
            </po-container>
        </po-widget>

        <po-widget class="po-lg-3 po-mb-1" >
            <po-container [p-no-border]="true">
                <span class="po-icon po-icon-refresh kpi-principal kpi-icon processando po-lg-5" id="processando"></span>
                <div class="po-text-right po-font-text-large-bold" style="color: #868686;">Chamados Processando</div>
                <div class="po-font-title po-text-right kpi-principal kpi-quant" style="font-family: roboto;">{{ this.processando }}</div>
                <div class="po-text-right" style="color: #ea9b3e;">
                    <span class="po-text-right po-font-text-bold percent" [ngClass]="this.processandoPercent > 1 ? 'percent-positivo' : 'percent-negativo'"> {{ this.processandoPercent | number: '1.1-2' }} % </span>
                    <span class="po-text-right"> Vs <b style="font-weight: bold;">{{ this.tipoFiltro }}</b> anterior</span>
                </div>
            </po-container>
        </po-widget>

        <po-widget class="po-lg-3 po-mb-1" >
            <po-container [p-no-border]="true">
                <span class="po-icon po-icon-lock kpi-principal kpi-icon fechados po-lg-5" id="fechados"></span>
                <div class="po-text-right po-font-text-large-bold" style="color: #868686;">Chamados Finalizados</div>
                <div class="po-font-title po-text-right kpi-principal kpi-quant" style="font-family: roboto;">{{ this.finalizados }}</div>
                <div class="po-text-right" style="color: #439FD9;">
                    <span class="po-text-right po-font-text-bold percent" [ngClass]="this.finalizadosPercent > 1 ? 'percent-positivo' : 'percent-negativo'"> {{ this.finalizadosPercent | number : '1.1-2' }} %</span>
                    <span class="po-text-right"> Vs <b style="font-weight: bold;">{{ this.tipoFiltro }}</b> anterior</span>
                </div>
            </po-container>
        </po-widget>

        <po-widget class="po-lg-3 po-mb-1 po-pr-0" >
            <po-container [p-no-border]="true">
                <span class="po-icon po-icon-pushcart kpi-principal kpi-icon qtde-equipamentos po-lg-6" id="qtde-equipamentos"></span>
                <div class="po-text-right po-font-text-large-bold" style="color: #868686;">Equis avaliados</div>  
                <div class="po-font-title po-text-right kpi-principal kpi-quant" style="font-family: roboto;">{{ this.qtdeItensAvaliado }}</div>
                <div class="po-text-right" style="color: #38B64B;">
                    <span class="po-text-right po-font-text-bold"> {{ 0 }} </span>
                    <span class="po-text-right"> Vs {{ this.tipoFiltro }} anterior</span>
                </div>
            </po-container>
        </po-widget>


        <po-widget class="po-lg-9 po-mb-1 po-pl-0" style="position: relative;" >

            <!-- <po-select style="position: absolute; top: .5rem; right: 1.5rem;"
                name="city" 
                [ngModel]="ano"
                (p-change)="aoSelecionarAno($event)"
                [p-options]="anos">
            </po-select> -->

            <po-chart
                class="po-md-12"
                [p-height]="300"
                p-title="Chamados ABERTO x FECHADOS ✅"
                [p-categories]="statusChamadoPorMesCategories"
                [p-series]="statusChamadoPorMesSeries"
                [p-options]="statusChamadoPorMesSeriesOptionsColumn">
            </po-chart>
        </po-widget>

        <po-widget class="po-lg-3 po-mb-1 po-pr-0">
            <po-chart
                class="po-md-12"
                [p-height]="300"
                p-title="TOP 4 Produtos mais reparados ✅"
                [p-categories]="top4ProdutosCategories"
                [p-series]="top4ProdutosSeries"
                [p-options]="top4ProdutosOptionsColumn">
            </po-chart>
        </po-widget>
        

        <po-widget class="po-lg-3 po-mb-0 po-pl-0">
            <po-chart
                class="po-lg-12"
                p-title="TOP 3 Clientes com mais chamados ✅"
                [p-height]="300"
                [p-series]="top3ClientesSeries"
                [p-options]="top3ClientesOptionsColumn">
            </po-chart>
        </po-widget>

        <po-widget class="po-lg-3 po-mb-0">
            <po-chart
                class="po-md-12"
                p-title="TOP 3 Técnicos ✅"
                [p-height]="300"
                [p-options]="top3TecnicosOptionsColumn"
                [p-categories]="top3TecnicosCategories"
                [p-series]="top3tecnicosSeries">
            </po-chart>
        </po-widget>

        <po-widget class="po-lg-6 po-mb-0 po-pr-0">
            <po-chart
                class="po-md-12"
                p-title="Chamados Aberto e Fechado por dia.✅ "
                [p-height]="300"
                [p-options]="statusChamadoPorDiaSeriesOptionsColumn"
                [p-categories]="statusChamadoPorDiaCategories"
                [p-series]="statusChamadoPorDiaSeries">
            </po-chart>
        </po-widget>


    </po-container>
  
</po-page-default>
  